* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
/* replaced redundant class selector with element selector (header) */ 
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {       /* styling for 'seo' strong element in company name in header */
    color: #d9dcd6;
}

header nav {
/* replaced redundant class selector with element selector (nav) */ 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover; /* replicates prior behaviour of div background in new img tag*/
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
/* replaced redundant class selector with element selector (main) */ 
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* To decrease redundancy, removed identical classes styling each of
the three elements of the main content and replaced them with a single class
 styling all three. */

.content-subsection {
 /*styles sections nested inside the 'main' element */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-subsection img {
    max-height: 200px;
}

.content-subsection h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


 aside {
/* replaced redundant class selector with element selector (aside) */ 
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Similarly to main section, replaced redundant styling classes
and assigned a single one to three elements of  */

.benefit-aside {
/*styles sections nested within the 'aside' element */
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit-aside h3 {     
    margin-bottom: 10px;
    text-align: center;
}
.benefit-aside img {
 display: block;
    margin: 10px auto;
    max-width: 150px;
} 

footer {
/* replaced redundant class selector with element selector (footer) */
    visibility:hidden; /* Hidden as per desired behaviour depicted in screenshot attached to user story. */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
